doctype html
head
  meta(charset='utf-8')
  title
    | Newspaper
  meta(name='description' content='Latest updates and statistic charts')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

  script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js')
  script.
    WebFont.load({
      google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
      active: function() {
        sessionStorage.fonts = true;
      }
    });

  link(href='/admin/css/vendors.bundle.css' rel='stylesheet' type='text/css')
  link(href='/admin/css/style.bundle.css' rel='stylesheet' type='text/css')
  link(rel='shortcut icon' href='/admin/img/favicon.ico')

.m-grid.m-grid--hor.m-grid--root.m-page
  #m_login.m-grid__item.m-grid__item--fluid.m-grid.m-grid--hor.m-login.m-login--signin.m-login--2.m-login-2--skin-2(style='background-image: url(/admin/img/bg_main.jpg);')
    .m-grid__item.m-grid__item--fluid.m-login__wrapper
      .m-login__container
        .m-login__logo
          a(href='#')
        .m-login__signin
          .m-login__head
            h3.m-login__title
              | 八中山日报
          form.m-login__form.m-form(action='')
            .form-group.m-form__group
              input.form-control.m-input(type='text' placeholder='Email' name='email' autocomplete='off')
            .form-group.m-form__group
              input.form-control.m-input.m-login__form-input--last(type='password' placeholder='Password' name='password')
            .row.m-login__form-sub
            .m-login__form-action
              button#m_login_signin_submit.btn.btn-focus.m-btn.m-btn--pill.m-btn--custom.m-btn--air.m-login__btn.m-login__btn--primary
                | Sign In
        .m-login__signup
          .m-login__head
            h3.m-login__title
              | Sign Up
            .m-login__desc
              | Enter your details to create your account:
          form.m-login__form.m-form(action='')
            .form-group.m-form__group
              input.form-control.m-input(type='text' placeholder='Fullname' name='fullname')
            .form-group.m-form__group
              input.form-control.m-input(type='text' placeholder='Email' name='email' autocomplete='off')
            .form-group.m-form__group
              input.form-control.m-input(type='password' placeholder='Password' name='password')
            .form-group.m-form__group
              input.form-control.m-input.m-login__form-input--last(type='password' placeholder='Confirm Password' name='rpassword')
            .row.form-group.m-form__group.m-login__form-sub
              .col.m--align-left
                label.m-checkbox.m-checkbox--focus
                  input(type='checkbox' name='agree')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;I Agree the
                  a.m-link.m-link--focus(href='#')
                    | terms and conditions
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;.
                  span
                span.m-form__help
            .m-login__form-action
              button#m_login_signup_submit.btn.btn-focus.m-btn.m-btn--pill.m-btn--custom.m-btn--air.m-login__btn
                | Sign Up
              button#m_login_signup_cancel.btn.btn-outline-focus.m-btn.m-btn--pill.m-btn--custom.m-login__btn
                | Cancel
        .m-login__forget-password
          .m-login__head
            h3.m-login__title
              | Forgotten Password ?
            .m-login__desc
              | Enter your email to reset your password:
          form.m-login__form.m-form(action='')
            .form-group.m-form__group
              input#m_email.form-control.m-input(type='text' placeholder='Email' name='email' autocomplete='off')
            .m-login__form-action
              button#m_login_forget_password_submit.btn.btn-focus.m-btn.m-btn--pill.m-btn--custom.m-btn--air.m-login__btn.m-login__btn--primaryr
                | Request
              button#m_login_forget_password_cancel.btn.btn-outline-focus.m-btn.m-btn--pill.m-btn--custom.m-login__btn
                | Cancel


script(src='/admin/js/vendors.bundle.js' type='text/javascript')
script(src='/admin/js/scripts.bundle.js' type='text/javascript')
script(src='/admin/js/login.js' type='text/javascript')
