extends template/layout.pug

block content
 .m-content
    .m-portlet.m-portlet--mobile
      .m-portlet__head
        .m-portlet__head-caption
          .m-portlet__head-title
            h3.m-portlet__head-text
              | All News
      .m-portlet__body
        .m-form.m-form--label-align-right.m--margin-top-20.m--margin-bottom-30
          .row.align-items-center
            .col-xl-8.order-2.order-xl-1
              .form-group.m-form__group.row.align-items-center
                .col-md-4
                  .m-input-icon.m-input-icon--left
                    input#eventSearch.form-control.m-input.m-input--solid(type='text' placeholder='Search...')
                    span.m-input-icon__icon.m-input-icon__icon--left
                      span
                        i.la.la-search
            .col-xl-4.order-3.order-xl-5.m--align-right
              a#btn_new_app.btn.btn-accent.m-btn.m-btn--custom.m-btn--icon.m-btn--air.m-btn--pill(href='#')
                span
                  i.la.la-cart-plus
                  span
                    | Add News
                  .m-separator.m-separator--dashed.d-xl-none
        .m_data_events

block data_script
  //- script(src='/admin/js/data-all-applications.js' type='text/javascript')
